.night {
    --std-bg-color: #333;
    --std-text-color: #fff;
    --std-text-color-fixed: #111;
    --regular-text-color: #fdfdfd;
    --regular-text-color-fixed: #555;
    --large-text-color: #4887d4;
    --large-text-color-fixed: #315f72;

    --secondary-color: #0b5caa;
    --secondary-text-color-fixed: #fff;

    --secondary-light-color: linear-gradient(to right top, #333, #777, #eee) ;
    --secondary-light-color-fixed: #c8efe2;

    --secondary-extra-color: #ff6248;

    --theme-toggle-background: #0c67bc;
    --theme-toggle-shadow: #333; 
}