.night {
    --std-bg-color: #333;
    --std-text-color: #fff;
    --std-text-color-fixed: #111;
    --regular-text-color: #fdfdfd;
    --regular-text-color-fixed: #555;
    --large-text-color: rgb(75, 189, 221);
    --large-text-color-fixed: #31667d;

    --secondary-color: #0b5caa;
    --secondary-text-color-fixed: #fff;

    --secondary-light-color: #96e0c8;
    --secondary-light-color-fixed: #c8efe2;

    --secondary-extra-color: #ff6248;

    --theme-toggle-background: #0b5caa url('../../assets/icons/night-mode-ico.png') left / contain no-repeat;

}