:root {
    --std-bg-color: #fff;
    --std-text-color: #111;
    --std-text-color-fixed: #111;
    --regular-text-color: #555;
    --regular-text-color-fixed: #555;
    --large-text-color: #194051;
    --large-text-color-fixed: #194051;

    --label-text-color: #1a2a6b;
    --label-bg-color: #f4f6fd;

    --secondary-color: #0b5caa;
    --secondary-text-color-fixed: #fff;
    --secondary-light-color: #edf8f4;
    --secondary-light-color-fixed: #edf8f4;
    --secondary-extra-color: #ff6248;

    --theme-toggle-background: #f80;
    --theme-toggle-shadow: #666; 
}