.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.hero .hero__study-label {
    justify-self: center;
    color: #1a2a6b;
}

.hero .hero__intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero .hero__intro h1 {
    line-height: 3.6rem;
    font-size: 3.5rem;
    color: var(--large-text-color);
}

 .hero .hero__intro p {
    font-size: 0.9rem;
}