
/* Theme switcher */

.theme-toggle {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    background: transparent;
}

.theme-toggle input {
    width: 0;
    height: 0;
    opacity: 0;
}

.theme-toggle__slider {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: end;
    padding: 4px 10px;
    overflow: hidden;
    font-size: 10pt;
    color: #fff;
    background: var(--theme-toggle-background);
    border: 0px solid #000;
    border-radius: 35px;
    cursor: pointer;
    transition: .5s ease-out;
}

.theme-toggle__slider:before {
    content: "";
    position: absolute;
    inset: 4px 5px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 35px;
    box-shadow: 2px 0px 10px #666;
}

.theme-toggle input:checked+.theme-toggle__slider {
    justify-content: start;
    background: var(--theme-toggle-background);
}

.theme-toggle input:checked+.theme-toggle__slider:before {
    box-shadow: -2px 0px 10px #999;
    transform: translateX(38px);
}
